<main>
    <div id="reserva">
        <div class="cadastro">
        <form method="POST" action='@Url.Action("Solicitar","Reserva")'>
        <h2><u>Faça sua reserva</u></h2>
        <div>
            <label for="nome">Nome Completo</label>
            <br>
            <input type="text" id="nome" name="nome" value="@Model.Cliente.Nome">
        </div>
        <div>
            <label for="email">E-mail</label>
            <br>
            <input id="email" type="email" name="email" value="@Model.Cliente.Email">
        </div>
        <div>
            <label for="nome_evento">Nome do Evento</label>
            <br>
            <input type="text" id="nome_evento" name="nome_evento">
        </div>
        <div>
            <label for="data_evento">Data do Evento</label>
            <br>
            <input type="date" id="data_evento" name="data_evento">
        </div>
        <div>
            <label for="quantidade">Quantidade de Pessoas</label>
            <br>
            <input type="number" id="quantidade" name="quantidade">
        </div>
        <div>
            <label for="tipo_evento">Tipo de Evento</label>
            <br>
            <select name="tipo_evento" required>
                <option value="selecione" disabled selected>Selecione</option>
                <option>Público</option>
                <option>Privado</option>
            </select>
        </div><br>
        <div>
            <label for="servicos" value="servicos">Contratar Serviço</label>
            <br>
            <select name="servicos" required>
                <option value="selecione" disabled selected>Selecione</option>
                <option>Som</option>
                <option>Iluminação</option>
                <option>Som e Iluminação</option>
            </select>
        </div><br>
        <div>
            <label for="descrição">Descrição do evento / Observações</label>
            <br>
            <input type="area" id="descrição">
        </div><br>
        <div id="pagamento">
            <label for="pagamento">Formas de Pagamento</label>
            <br>
            <select name="pagamento" required>
                <option value="selecione" disabled selected>Selecione</option>
                <option>Cartão de Crédito</option>
                <option>Boleto Bancário</option>
                <option>Transferência Bancária</option>
            </select>
        </div><br>
        <div>
            <input type="checkbox" value="termos"> Aceito os termos e condições de uso
        </div><br>
        <p>Valor inicial do aluguel do espaço - R$ 10.000,00</p><br>
        <input type="submit" value="Enviar" />
        </form>
        </div>
    </div>
</main>