<main>
    <div id="reserva">
        <form method="POST" action='@Url.Action("Solicitar","Reserva")'>
        <h2><u>Faça sua reserva</u></h2>
        <div>
            <label for="nome">Nome Completo</label>
            <br>
            <input type="text" id="nome" name="nome">
        </div>
        <div>
            <label for="nome_evento">Nome do Evento</label>
            <br>
            <input type="text" id="nome_evento" name="nome_evento">
        </div>
        <div>
            <label for="data_evento">Data do Evento</label>
            <br>
            <input type="date" id="data_evento" name="data_evento">
        </div>
        <div>
            <label for="quantidade">Quantidade de Pessoas</label>
            <br>
            <input type="number" id="quantidade" name="quantidade">
        </div>
        <div>
            <label for="tipo_evento">Tipo de Evento</label>
            <br>
            <input type="checkbox" value="publico" name="publico"> Público
            <input type="checkbox" value="privado" name="privado"> Privado
        </div><br>
        <div>
            <label for="servicos">Serviços</label>
            <br>
            <input type="checkbox" value="iluminacao" name="iluminacao"> Contratar serviço de iluminação
            <input type="checkbox" value="som" name="som"> Contratar serviço de som
        </div><br>
        <div>
            <label for="descrição">Descrição do evento / Observações</label>
            <br>
            <input type="area" id="descrição">
        </div><br>
        <div id="pagamento">
            <p><u>Formas de Pagamento</u></p>
            <br>
            <p>Cartão de Crédito</p>
            <p>Boleto Bancário</p>
            <p>Transferência</p>
        </div><br>
        <div>
            <input type="checkbox" value="termos"> Aceito os termos e condições de uso
        </div><br>
        <p>Valor inicial do aluguel do espaço - R$ 10.000,00</p><br>
        <input type="submit" value="Enviar" />
        </form>
    </div>
</main>