html {
    height: 100%;
}

body {
    text-align: center;
    height: 100%;
}

main {
    width: 80%;
    align-self: center;
    justify-content: center;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#painel {
    display: flex;
    justify-content: space-between;
}

h2 {
    font-size: 3em;
}

#dash {
    text-align: center;
    padding: 0.5em 0;
    font-size: 2em;
    color: #000000;
    text-shadow: 
    -1px -1px 0 #ffc600,
    1px -1px 0 #ffc600,
   -1px  1px 0 #ffc600,
    1px  1px 0 #ffc600;
    
}

h4 {
    font-size: 2em;
    font-family: 'Fredoka One', cursive;
}

.box-status-pedidos {
    width: 30%;
    padding-top: .5em;
    text-align: center;
}
.box-status-pedidos > p {
    font-size: 2em;
    padding: 0.5em 0 0 0;
}

.box-status-pedidos.reprovados {
    background-color: #a70000;
}

.box-status-pedidos.aprovados {
    background-color: #669100;
}

.box-status-pedidos.pendentes {
    background-color: #ff9933;
}

table {
    background-color: #ffffff;
    text-align: center;
    border: 1px dashed #7d0093;
    color: #ffffff; 
    width: 100%;
    padding: 5px;
    word-break: normal;
}

table th {
    background-color:#7d0093;
}

table td {
    color:#000000;
}

table a {
    text-decoration: none;
    color: #ff9933;
}

table a:hover {
    text-decoration: underline;
}

tfoot td {
    text-align: center;
    background-color: #7d0093;
    color: #fff;
}

thead > tr:first-child > th:last-child {
    padding: 0 .5em;
}

.mensagem {
    color: #000000;
    font-weight: bold;
}

@media (max-width: 625px) {
    main {
        width: 90%;
    }

    h4 {
        font-size: 1em;
    }


}